<h1>Add a picture</h1>
<%= link_to "Back to Pictures", pics_url %>

<%= form_for @pic do |p| %>
  <p>
    <%= p.label :art_maker %><br>
    <%= p.text_field :art_maker %>
  </p>
  <p>
    <%= p.label :art_name %><br>
    <%= p.text_field :art_name %>
  </p>
  <p>
    <%= p.label :url %><br>
    <%= p.text_field :url %>
  </p>
  <p>
    <%= p.submit "Save" %>
  </p>

<% end %>
